
$yellow:#ffff00e5;
$blue:#00ADB5;
$white:#ffff;
$light-bg:#eee;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Moon+Dance&family=Rubik+Bubbles&display=swap');
$text-shadow: 6px 5px 8px #000000;;
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    //font-family: 'Dancing Script', cursive;
    //font-family: 'Moon Dance', cursive;
    //font-family: 'Rubik Bubbles', cursive;
}
//nav bar //
nav{
    margin-left: 15px;
align-items: center;
display: flex;
font-family:'Dancing Script', cursive;
font-size: 16px;
color: $white;
height: 50px;

samp{
    margin-left: 15px;
    color: $yellow ;
    font-size: 30px;
    font-family: 'Moon Dance', cursive;
}
.list{
    display: flex;
    margin-top: 10px;
    margin-left: 1200px;
    
}
a{
    
    margin-left: 15px;
    color: $white;
    text-decoration: none;
    &:hover{
        color: $yellow;
    }

}
}
//end nav bar//
//home//
.top-home{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.home{
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column: 3;
}
.me-home{
    margin-top:80px;
    display: grid;
    grid-row: 1;
    grid-column: 7;
}
.back2{
    display: grid;
    grid-row: 1;
    grid-column: 6;
}
.me{
    display: grid;
    grid-row: 1;
    grid-column: 6;
    margin-top: 90px;
    background: none;
}
.ander{
    display: grid;
    grid-row: 1;
    grid-column: 6;
    margin-top: 357px;
    background: none;
}
.white{
    display: grid;
    grid-row: 1;
    grid-column: 4;
    text-align: center;
}
.download{ 
    font-size: 16px;
    text-decoration: none;
    margin-left: 250px;
    margin-top: 350px;
    font-family: 'Rubik Bubbles', cursive;
    border: none;
    border-radius: 24px;
    align-items: center;
    text-align: center;
    height: 47px;
    width: 223px;
    color: $white;
    display: grid;
    grid-column: 2;
    grid-row: 1;
    background-color: #393E46;
    box-shadow: $box-shadow;
    text-shadow: $text-shadow;
    cursor:pointer;
    
    &:hover{
        background-color: #25282c;
    }
    &:active{
        background-color: #151516;
        
    }
    svg{
        grid-column:2;
        background: none;
        
    }
    
}
.hire-me{
    text-shadow: $text-shadow;
    box-shadow: $box-shadow;
    font-size: 16px;
    margin-top: 350px;
    font-family: 'Rubik Bubbles', cursive;
    border: none;
    border-radius: 24px;
    align-items: center;
    text-align: center;
    height: 47px;
    width: 223px;
    color: $white;
    display: grid;
    grid-column: 2;
    grid-row: 1;
    background-color: #00ADB5;
    cursor:pointer;
    &:hover{
        background-color: #058e96;
    }
    &:active{
        background-color: #05575c;
    }
    }
    .white{
        margin-top: 150px;
        height: 0;
        width: 460px;
        font-size: 70px;
        color:$white;
        display: grid;
        grid-column: 2;
        grid-row: 1;
    }
    .blue{
        margin-top: 190px;
        height: 0;
        width: 460px;
        font-size: 70px;
        color: $blue;
        display: grid;
        grid-column: 2;
        grid-row: 1;
    }
    .move{
        width: 90px;
        height: 221px;
        margin-top: 190px;
        display: grid;
        grid-row: 1;
    }
//end home //
//About Me//
.about-me{
    margin-top: 185px;
    display: grid;
    grid-row: 2;
    grid-column: 3;
    width: 98vw;
}
//end About Me//
// My Projects //
.my-projects{
    margin-top: 185px;
    display: grid;
    grid-row: 3;
    grid-column: 3;
    width: 98vw;
    background-image: url(../assets/back3.svg);
    h1{
        margin-left: 100px;
        text-align: center;
        font-family:'Dancing Script', cursive;
        margin-top: 90px;
        display: flex;
        width: 550px;
        height: 0;
        font-size: 64px;
        color: $white;
    }
    samp{
        font-family:'Dancing Script', cursive;
        margin-top: 15px;
        margin-left: 15px;
        color: $blue ;
    }
    .btns{
        width: 500px;
        height: 0;
        background: none;
    }
    .all{
        margin-left: 25px;
        text-shadow: $text-shadow;
        box-shadow: $box-shadow;
        font-size: 16px;
        font-family: 'Rubik Bubbles', cursive;
        border: none;
        border-radius: 24px;
        align-items: center;
        text-align: center;
        height: 47px;
        width: 88px;
        color: $white;
        background-color: $blue;
        cursor:pointer;
        &:hover{
            background-color: #058e96;
        }
        &:active{
            background-color: #05575c;
        }
    }
    .store{
        background:#393e4680;
    }
    .moves{
        background: #393e4680;    
    }
    .games{
        background: #393e4680;    
    }
}
//End  My Projects //
