
$yellow:#ffff00e5;
$blue:#00ADB5;
$white:#ffff;
$light-bg:#eee;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Moon+Dance&family=Rubik+Bubbles&display=swap');
$text-shadow: 6px 5px 8px #000000;;
*{
    background: #222831;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s ease;
    flex-direction: row;
    //font-family: 'Dancing Script', cursive;
    //font-family: 'Moon Dance', cursive;
    //font-family: 'Rubik Bubbles', cursive;
}
//nav bar //
nav{
    margin-left: 15px;
align-items: center;
display: flex;
font-family:'Dancing Script', cursive;
font-size: 16px;
color: $white;
height: 50px;

samp{
    margin-left: 15px;
    color: $yellow ;
    font-size: 30px;
    font-family: 'Moon Dance', cursive;
}
.list{
    display: flex;
    margin-top: 10px;
    margin-left: 1200px;
    
}
a{
    
    margin-left: 15px;
    color: $white;
    text-decoration: none;
    &:hover{
        color: $yellow;
    }

}
}
//end nav bar//
//home//
.top-home{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.home{
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column: 3;
}
.me-home{
    margin-top:80px;
    display: grid;
    grid-row: 1;
    grid-column: 7;
}
.back2{
    display: grid;
    grid-row: 1;
    grid-column: 6;
}
.me{
    display: grid;
    grid-row: 1;
    grid-column: 6;
    margin-top: 90px;
    background: none;
}
.ander{
    display: grid;
    grid-row: 1;
    grid-column: 6;
    margin-top: 357px;
    background: none;
}
.white{
    display: grid;
    grid-row: 1;
    grid-column: 4;
    text-align: center;
}
.download{ 
    font-size: 16px;
    text-decoration: none;
    margin-left: 250px;
    margin-top: 350px;
    font-family: 'Rubik Bubbles', cursive;
    border: none;
    border-radius: 24px;
    align-items: center;
    text-align: center;
    height: 47px;
    width: 223px;
    color: $white;
    display: grid;
    grid-column: 2;
    grid-row: 1;
    background-color: #393E46;
    box-shadow: $box-shadow;
    text-shadow: $text-shadow;
    cursor:pointer;
    &:hover{
        background-color: #25282c;
    }
    &:active{
        background-color: #151516;
        
    }
    svg{
        grid-column:2;
        background: none;
        box-shadow: $box-shadow;
        text-shadow: $text-shadow; 
        
    }
    
}
.hire-me{
    text-shadow: $text-shadow;
    box-shadow: $box-shadow;
    font-size: 16px;
    margin-top: 350px;
    font-family: 'Rubik Bubbles', cursive;
    border: none;
    border-radius: 24px;
    align-items: center;
    text-align: center;
    height: 47px;
    width: 223px;
    color: $white;
    display: grid;
    grid-column: 2;
    grid-row: 1;
    background-color: #00ADB5;
    cursor:pointer;
    &:hover{
        background-color: #058188;
    }
    &:active{
        background-color: #05575c;
    }
    }
    .white{
        margin-top: 150px;
        height: 0;
        width: 460px;
        font-size: 70px;
        color:$white;
        display: grid;
        grid-column: 2;
        grid-row: 1;
    }
    .blue{
        margin-top: 190px;
        height: 0;
        width: 460px;
        font-size: 70px;
        color: $blue;
        display: grid;
        grid-column: 2;
        grid-row: 1;
    }
    .move{
        width: 90px;
        height: 221px;
        margin-top: 190px;
        display: grid;
        grid-row: 1;
    }
//end home //
//About Me//
.about-me{
    margin-top: 185px;
    display: grid;
    grid-row: 2;
    grid-column: 3;
    width: 98vw;
    img{
        display: grid;
        grid-row: 1;
        grid-column: 4;
    }
    .ander2{
        display: grid;
        grid-row: 1;
        grid-column: 4;
        margin-top: 440px;
        margin-left: 50px;
        background: none;
    }
    p{
        margin-top: 16px;
        color: $white;
        grid-row: 1;
        grid-column: 3;
        width: 389px;
        height: 189px;
        font-size: 18px;
        font-family: 'Rubik Bubbles', cursive;
    }
    h1{
        display: flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 64px;
        color: $white;
        samp{
            color: $blue;
            margin-left: 15px;
        }
    }
    .prg{
        margin-left: 96px;
    }
}
//end About Me//
// My Projects //
.my-projects{
    height: 1024px;
    margin-top: 185px;
    display: grid;
    grid-row: 3;
    grid-column: 3;
    width: 98vw;
    background-image: url(../assets/back3.svg);
    h1{
        margin-left: 100px;
        text-align: center;
        font-family:'Dancing Script', cursive;
        margin-top: 90px;
        display: flex;
        width: 550px;
        height: 0;
        font-size: 64px;
        color: $white;
    }
    samp{
        font-family:'Dancing Script', cursive;
        margin-top: 15px;
        margin-left: 15px;
        color: $blue ;
    }
    .btns{
        margin-left: 60px;
        margin-top: 60px;
        width: 500px;
        height: 0;
        background: none;
        transition: 0.5s;
        grid-column: 1;
        grid-row: 2;
    }
    .all{
        transition: 0.5s ease;
        margin-left: 25px;
        text-shadow: $text-shadow;
        font-size: 16px;
        font-family: 'Rubik Bubbles', cursive;
        border: none;
        border-radius: 24px;
        align-items: center;
        text-align: center;
        height: 47px;
        width: 88px;
        color: $white;
        background-color: $blue;
        cursor:pointer;
        &:hover{
            background-color: #058e96;
        }
        &:active{
            background-color: #05575c;
        }
    }
    .store{
        background:#393e4680;
    }
    .moves{
        background: #393e4680;
    }
    .games{
        background: #393e4680;
    }
    .cards{
        margin-left: 200px;
        margin-top: 210px;
        display: flex;
        grid-column: 1;
        grid-row: 2;
        background: none;
    }
    .card-store{
        box-shadow: $box-shadow;
        border-radius: 16px;
        align-items: center;
        text-align: center;
        grid-column: 1;
        grid-row: 1;
        width: 368px;
        height: 280px;
        background: #393e465e;
        cursor: pointer;
        a{
            background: none;
            
        }
        fa-icon{
            margin-top: 45px;
            width: 265px;
            height: 158px;
            font-size: 190px;
            color: $blue;
            background: none;
        
        }
        &:hover{
            background: #393e46ad;    
        }
    }
    .card-moves{
        box-shadow: $box-shadow;
        cursor: pointer;
        border-radius: 16px;
        margin-left: 30px;
        align-items: center;
        text-align: center;
        grid-column: 1;
        grid-row: 1;
        width: 368px;
        height: 280px;
        background: #393e465e;
        a{
            background: none;
        }
        fa-icon{
            font-size: 190px;
            color: $blue;
            background: none;
        }
        &:hover{
            background: #393e46ad;    
        }

    }
    .card-games{
        box-shadow: $box-shadow;
        cursor: pointer;
        border-radius: 16px;
        margin-left: 30px;
        align-items: center;
        text-align: center;
        grid-column: 1;
        grid-row: 1;
        width: 368px;
        height: 280px;
        background: #393e465e;
        a{
            background: none;
        }
        fa-icon{
            font-size: 190px;
            color: $blue;
            background: none;
        }
        &:hover{
            background: #393e46ad;    
        }

    }
}
//End  My Projects //
@media (max-width:600px) {
    *{
        flex-direction: column;
    }
}
//footer//
footer{
    text-align: center;
    align-items: center;
    height: 400px;
    display: grid;
    grid-row: 4;
    grid-column: 3;
    width: 98vw;
    svg{
        cursor: pointer;
        margin-left: 20px;
        box-shadow: $box-shadow;
        fill: $blue;
        &:hover{
            fill: #05575c;
        }
    }
    
}

//end footer//